<p id="notice"><%= notice %></p>

<h1 class="text-2xl text-center pb-3">Todo Lists</h1>

<table>
  <thead>
    <tr>
      <th class="w-1/6">Title</th>
      <th class="w-2/3">Description</th>
      <th class="w-1/12" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title.capitalize %></td>
        <td><%= todo_list.description.capitalize %></td>
        <td class="text-center"><%= link_to 'ðŸ”', todo_list %></td>
        <td class="text-center"><%= link_to 'âœï¸', edit_todo_list_path(todo_list) %></td>
        <td class="text-center"><%= link_to 'âœ–ï¸', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'âž•New Todo List', new_todo_list_path %>
