<p id="notice"><%= notice %></p>

<h1 class="text-2xl text-center">
  <%= @todo_list.title.capitalize %>
</h1>

<p class="text-center italic pb-5">
  <%= @todo_list.description.capitalize %>
</p>


<div class="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div class="form">
    <%= render "todo_items/form" %>
  </div>
</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
