<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="bg-cover" style="background-image: url(https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-1.2.1&auto=format&fit=crop&w=2880&q=80)">
    <div class="bg-indigo-100 w-1/2 mx-auto p-6 px-3 font-mono">
      <%= yield %>
    </div>
  </body>
</html>
